* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}


.logo img {
  height: 100px;
}


.botoes a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.inicio {
  margin-top: 0;
}

.botoes {
  display: flex;
  gap: 40px;
  justify-content: end;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}

.imagemhome {
  margin-top: 0;
  display: flex;
  height: 1200px;




}

.textos {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  background-color: #63caf2 (0, 0, 0, 1);
  padding: 10px;
  text-align: center;
  margin-top: 0;

}


.frase {
  color: #200559;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 45px;
  width: 100%;
  margin-top: 0;
}

.texto {
  padding-left: 30px;
  padding-top: 90px;
  padding-bottom: 30px;
  color: #200559;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  margin-top: 0;
}

.frase {
  display: flex;
  justify-content: center;
  background-color: #75c9f9;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  padding-top: 4%;
  padding-bottom: 2%;


}

.frasetexto {
  display: flex;
  justify-content: center;
  background-color: #75c9f9;
  color: white;
  flex-direction: column;
  align-items: center;


}

.missaovisaovalores {
  display: flex;
  justify-content: center;
  background-color: #75c9f9;
  color: white;
  flex-direction: row;
  gap: 40px;
  padding: 0;
  font-size: 200%;


}



.missao {
 display: flex;
  background-color: white;
  color: #2c1e4a;
  border-radius: 10px;
  flex-direction: column;
  align-items: auto;
  width: 30%;
  margin-top: 10%;
padding: 5%;
height: 30%;

}

.visao {
  display: flex;
  background-color: white;
  color: #2c1e4a;
  border-radius: 10px;
  flex-direction: column;
  align-items: auto;
  width: 30%;
  margin-top: 10%;
padding: 5%;
height: 30%;
}
.valores {
  display: flex;
  background-color: white;
  color: #2c1e4a;
  border-radius: 10px;
  flex-direction: column;
  align-items: auto;
  width: 30%;
  margin-top: 10%;
padding: 5%;
height: 30%;
}
