.header{
    background-color: #f2ad94;
    padding: 1%;
    width: 100%;
    height: 100%;

}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100px;
    height: 150px;


}

.botoes{
display: flex;
justify-content: flex-end;
flex-direction: row;
align-content: center;
padding-bottom: 20%;


}