body {
  
  font-family: 'Poppins', sans-serif;
  margin: 0;
 
}

.header {

  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  font-size: 160%;
  
}
.logo img {
  padding-left: 20px;
  height: 120px;
}
.botoes {
  display: flex;
  gap: 40px;
  justify-content: end;
  flex-direction: row;
  width: 100%;
}
.botoes a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-right: 5%;
  
}

.container {
    font-family: 'Poppins', sans-serif;
  position: relative; 
  width: 100%;
  display: flex;
  justify-content: center;
 
  
}

.container img {
  width: 100%;
  display: block;
}
.card-cadastro {
    display: flex;
    justify-content: center;
    margin-top: 100%;
  position: absolute;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  width: 40%;
  background-color: white;
  
}
.campo{
    display: flex;
    ;flex-direction: column;
    gap: 10px;
}
.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.card-cadastro input{
    border-radius: 2%;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;

}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
border-radius: 2%;
border-radius: 10px;
height: 40px;
width: 90px;



}

.formulario p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}

.formulario span{
 
    font-size: 20px;
}





.footer {

  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  
  
}

.redes{
  display: flex;
  flex-direction: column;
  line-height: 40px;
justify-content: center;
    padding-bottom: 10px;
    align-items: center;
    padding-right: 80px;
}


.home-sobre{
  display: flex;
  flex-direction: column;
  line-height: 40px;
}
.cadastro-login{
    
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.footer  a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-right: 3%;
  font-size: 160%;
}
.footer  p {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-right: 3%;
   font-size: 160%;
}

.footer .logo img {
  padding-left: 0;
  height: 180px;
}