body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
}


.menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 1000px;
    background-color: #200559;
    color: white;
    padding: 20px;
    flex-direction: column;
}

.menu h1 {
    color: #d92bbc;
    text-align: center;
    margin-bottom: 30px;
}

.menu a {

    display: flex;
    height: 30px;
    border-radius: 10px;
    border: 2px;
    background-color: #f2ad94;
    justify-content: center;
    padding-top: 4px;
    color: white;
}



.principal {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex: 1;
    padding: 30px;

    gap: 30px;
}


.aulas {
    margin-top: 30px;
    background: #63caf2;
    padding: 20px;
    border-radius: 10px;
    color: #200559;

}


.aulasLista p {
    background: #f2ad94;

    border-radius: 6px;
    margin-bottom: 8px;
    color: white;
}


.indicadores {
    display: flex;
    gap: 20px;
}

.grafico h3 {
    text-align: center;
    color: #200559;

    margin-bottom: 15px;


}

.kpi {
    flex: 1;
    background: #f2ad94;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

.kpi h2 {
    color: #200559;

    font-size: 16px;
    margin-bottom: 10px;
}

.kpi p {

    color: white;
    font-size: 22px;
    font-weight: bold;

}


.kpi a {
    color: white;
    font-size: 15px;
    font-style: italic;

}




.graficos {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.grafico1 {
    background: white;
    padding: 20px;
    border-radius: 10px;




}

.grafico2 {
    background: white;
    padding: 20px;
    border-radius: 10px;



}