body {

  font-family: 'Poppins', sans-serif;
  margin: 0;

}


.header {

  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 0;
  font-size: 160%;


}

.imagemhome img {
  width: 100%;
  height: auto;
  display: block;

}

.botao-cadastrar {
  margin-left: 50%;
  margin-top: 10%;
  font-size: 120%;
  border-radius: 2px;
 border-radius: 10px;
 background-color: #200559;
 height: 50px;
 width: 200px;
 color: white;
}


.logo img {
  padding-left: 20px;
  height: 120px;
}


.botoes a {
  text-decoration: none;
  color: #200559;
  font-weight: 500;
  padding-right: 3%;
}

.inicio {
  margin-top: 0;
}

.botoes {
  display: flex;
  gap: 40px;
  justify-content: end;
  flex-direction: row;
  width: 100%;
}



.textos {
  position: absolute;
  top: 30%;
  left: 50%;
  color: white;

  padding: 10px;
  text-align: center;
  margin-top: 0;

}



.texto {
  color: #200559;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
  line-height: 70px;

  padding-top: 5%;
}




.conecte p {
  font-size: 300%;
  margin: 1;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 5%;
  padding-bottom: 3%;

}

.conecte {
  margin-top: 3%;
  background-color: white;
  color: #2c1e4a;
  width: 100%;
  height: 140px;
  padding: 0;
  padding-left: 0;



}


.fraseTexto p {
  font-size: 200%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;

}

.frasetexto {
  display: flex;
  justify-content: center;
  background-color: #75c9f9;
  color: white;
  flex-direction: column;
  align-items: center;
  padding-top: 0;

}

.frase {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #75c9f9;
  color: white;



}

.missaovisaovalores {
  display: flex;
  justify-content: center;
  background-color: #75c9f9;
  color: white;
  flex-direction: row;
  gap: 3%;
  font-size: 200%;
  padding: 20px 2%;

}




.visao,
.valores,
.missao {
  display: flex;
  background-color: white;
  color: #2c1e4a;
  border-radius: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding: 20px;
  height: auto;
  gap: 15px;
  font-size: 80%;
  box-sizing: border-box;


}



.visao b,
.valores b,
.missao b {
  font-size: 180%;
  margin-top: 20px;

}


.visao p,
.valores p,
.missao p {
  font-size: 100%;
  text-align: center;
  padding: 2%;

}


.depoimentos {
  display: flex;
  background-color: #fcb898;
  color: white;
  flex-direction: column;
  padding-top: 10px;
  justify-content: center;




}

.depoimentostodos {
  display: flex;
  background-color: #fcb898;
  color: white;
  flex-direction: column;
  padding-top: 10px;
  justify-content: center;
  gap: 55px;
  padding: 20px;



}

.titulodepoimentos p {
 
  padding-left: 5%;


}



.titulodepoimentos {
  

  font-size: 300%;
margin: 1;
  margin-top: 3%;
  background-color: white;
  color: #2c1e4a;
  width: 100%;
  height: 140px;
  padding: 0;
  padding-left: 0;
  font-weight: bold;

}


.textodepoimentos {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: white;
  align-items: center;
  align-items: center;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 200%;
 padding-left: 5%;
    padding-right: 5%;
        padding-top: 3%;

}



.depoimento1,
.depoimento3 {
  flex-direction: column;

  display: flex;
  justify-content: flex-start;
  background-color: white;
  border-radius: 50px;
  padding-bottom: 10px;
  gap: 60px;
  height: 80px;
}

.depoimento2 {
  display: flex;
  justify-content: flex-end;
  border-radius: 50px;
  background-color: white;
  height: 80px;


}

.depoimento1 p,
.depoimento2 p,
.depoimento3 p {
  color: #2c1e4a;
  padding-right: 40px;
  padding-top: 5px;
  padding-left: 40px;
  align-items: center;

}


.footer {

  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;


}

.redes {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  justify-content: center;
  padding-bottom: 10px;
  align-items: center;
  padding-right: 80px;
}


.home-sobre {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.cadastro-login {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.footer a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-right: 3%;
  font-size: 160%;
}

.footer p {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-right: 3%;
  font-size: 160%;
}

.footer .logo img {
  padding-left: 0;
  height: 180px;
}