body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 160%;
}

.logo img {
    padding-left: 20px;
    height: 120px;
}

.botoes {
    display: flex;
    gap: 40px;
    justify-content: end;
    width: 100%;
}

.botoes a {
    text-decoration: none;
    color: #200559;
    font-weight: 500;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container img.fundo {
    width: 100%;
    height: 800px;
}

.card-login {
    position: absolute;
    top: 15%;
    background-color: white;
    padding: 30px;
    width: 40%;
    border-radius: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-login input {
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #79a2f2;
}

.botao {
    background-color: #200559;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.footer .logo img {
    height: 180px;
}

.footer .home-sobre, .footer .cadastro-login, .footer .redes {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.pop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.up {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    color: white;
    font-size: 16px;
    background-color: #63caf2;
}

#fecharLoginErro {
    position: absolute;
margin-bottom: 80px;
margin-left: 300px;
    background-color: white;
    color: #63caf2;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

#fecharLoginErro:hover {
    background-color: #d92bbc;
    color: #200559;
}
