body {
  
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: black;
 
}

.header {

  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  font-size: 160%;
  
}
.logo img {
  padding-left: 20px;
  height: 120px;
}
.botoes {
  display: flex;
  gap: 40px;
  justify-content: end;
  flex-direction: row;
  width: 100%;
}
.botoes a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-right: 5%;
  
}


