body {
  font-family: 'Poppins', sans-serif;
  margin: 0;

}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 160%;
}

.header .logo img {
  height: 120px;
}

.botoes a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin-left: 20px;
}


