body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo img {
  height: 80px;
}

.botoes {
  display: flex;
  gap: 30px;
}

.botoes a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pontuacaoEJogo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#btnSubmeter {
  background-color: #200559;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
}

#btnTentarNovamente {
  background-color: #200559;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
}

#btnIniciarQuiz {
  background-color: #200559;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;

  margin: 10px 0;
}

#btnIrParaDash {
  background-color: #200559;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;

  margin: 10px 0;
}




#pontuacao, #jogo {
  background-color: white;
  width: 90%;
  
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flex-colunar {
  display: flex;
  
  flex-direction: column;
}

.border {
  border: 5px solid #79a2f2;
  border-radius: 15px;

  padding: 10px;
}



.padding-8 {
  padding: 8px;
}

.width-fit-content {
  width: fit-content;
}





.option {
  cursor: pointer;
  padding: 5px 10px;

  border-radius: 8px;
}




#infoAlternativas em {
  font-size: 14px;
  color: #555;
}



.footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
 
}

.footer .logo img {
  padding-left: 0;
  height: 180px;
}

.footer .home-sobre {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.footer .cadastro-login {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.footer .redes {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
}

.footer a {
  text-decoration: none;
  color: black;
  font-weight: 500;

  padding-right: 3%;
  font-size: 160%;
}



.footer p {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding-right: 3%;
  font-size: 160%;
}

.selecao select {
  display: flex;
  justify-content: center;
  font-size: 20px;
  width: 200px;
  height: 30px;
  color: #200559;
  border-radius: 10px;
  border-color: #79a2f2;
  background-color: #79a2f2;
}
